body{
 
    margin: 0;
    border: 1px solid black;
    height: 700px;
    position: relative;
   }

h1{
    
    border: 1px solid black;
    text-align: right;
}

.flex {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    
}

.box1 {
    width: 325px;
    height: 150px;
    background: rgb(30, 142, 147);
}
.box2 {
    width: 325px;
    height: 150px;
    background: rgb(30, 142, 147);
}
.box3 {
    width: 325px;
    height: 150px;
    background: rgb(30, 142, 147);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .bigbox{
    width: 1029px;
    height: 300px;
    background: rgb(30, 142, 147);
    margin: 27px;
   
  }

  .circle{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.circle-pink1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(250, 124, 126); 
    position: relative;
    bottom: 400px;
    right: 55px;
    
  }

  .circle-pink2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:  rgb(250, 124, 126); 
    position: relative;
    bottom: 525px;
    right: 400px;
    
  }

  .circle-pink3{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:  rgb(250, 124, 126); 
    position: relative;
    bottom: 412px;
    right: 434px;
    
  }

  .circle-pink4{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(250, 124, 126); 
    position: relative;
    bottom: 510px;
    right: 100px;
    
  }

  .circle-yellow1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 213, 90); 
    position: relative;
    bottom: 480px;
    right: 375px;
    
  }

  .circle-yellow2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(255, 213, 90); 
    position: relative;
    bottom: 325px;
    right: 475px;
   
  }

  .triangle{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .triangle-green{
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 300px solid rgb(31, 115, 52);
    z-index: 1;
    position: relative;
    bottom: 431px;
    left: 1px;
    
  }

  .triangle-yellow{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 250px solid rgb(199, 218, 99);
    z-index: 1;
    position: relative;
    bottom: 500px;
    left: 962px;
  }

  footer{
    display: flex;
    justify-content: center;
    margin-top: 1px;
  
  }

  .box4{
    
    max-width: 1029px;
    height: 20px;
    background: rgb(199, 218, 99);
    z-index: 1;
  }

  

  

  