body{
    
    border: 1px solid black;
}

h1{
    
    border: 1px solid black;
    text-align: right;
}

.flex {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    

}

.box1 {
    width: 325px;
    height: 150px;
    background: rgb(30, 142, 147);
}
.box2 {
    width: 325px;
    height: 150px;
    background: rgb(30, 142, 147);
}
.box3 {
    width: 325px;
    height: 150px;
    background: rgb(30, 142, 147);
}


.box {
    
    max-width: 1029px;
    height: 300px;
    background: rgb(30, 142, 147);
    margin-top: 27px;
    
 
    
   
    
    
    
}

.circle-pink1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(250, 124, 126); 
    position: absolute;
    top: 190px;
    left: 422px;
    
  }

  .circle-pink2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:  rgb(250, 124, 126); 
    position: absolute;
    top: 105px;
    left: 180px;
    
  }

  .circle-pink3{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color:  rgb(250, 124, 126); 
    position: absolute;
    top: 222px;
    left: 180px;
    
  }

  .circle-pink4{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(250, 124, 126); 
    position: absolute;
    top: 120px;
    left: 530px;
    
  }

  .circle-yellow1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 213, 90); 
    position: absolute;
    top: 110px;
    left: 312px;
    
  }

  .circle-yellow2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(255, 213, 90); 
    position: absolute;
    top: 310px;
    left: 290px;
   
  }

  .triangle-green{
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 400px solid rgb(31, 115, 52);
    z-index: 1;
    position: absolute;
    top: 167px;
    left: 730px;
    
  }

  .triangle-yellow{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 250px solid rgb(199, 218, 99);
    z-index: 1;
    position: absolute;
    top: 318px;
    left: 962px;
  }

  footer{
    display: flex;
    justify-content: center;
    margin-top: 1px;
  
  }

  .box4{
    
    max-width: 1029px;
    height: 20px;
    background: rgb(199, 218, 99);
    z-index: 1;
  }

  

  

  